<ng-container *ngIf="isError">
  <p class="error">Sorry, the service is not available right now</p>
</ng-container>

<ng-container *ngIf="isLoadingPosts">
  <mat-spinner></mat-spinner>
</ng-container>

<div *ngIf="isLoadedPosts" class="container">
  <ng-container *ngFor="let post of displayedPosts; let i = index">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-lg-10">
        <mat-card class="post-card">
          <mat-card-title>{{post.title}}</mat-card-title>
          <p>{{post.body}}</p>
          <app-comment *ngIf="selectedPostId === post.id" [postId]="selectedPostId"></app-comment>
        </mat-card>
      </div>
      <div class="col-sm-12 col-md-2 col-lg-2 button-wrapper">
        <button
          mat-raised-button
          color="basic"
          class="add"
          aria-label="Please click this button to read comments from this post"
          (click)="bindSelectedPostId(post.id)"
        >
          +
        </button>
      </div>
    </div>
  </ng-container>
  <div class="row" *ngIf="displayedPosts.length <= 3">
    <div class="col-sm-12 col-md-10 col-lg-10">
      <button (click)="loadAllPosts()" aria-label="Please click this button to read all posts" mat-raised-button class="right-aligned" color="basic">...Load all</button>
    </div>
  </div>
</div>

