.post-card {
  margin-top: 1rem;
  background-color: #f1f1f1;
  color: black;
}
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
button.add {
  font-size: 2rem;
}
.right-aligned {
  float: right;
  margin-top: 1rem;
  background: #e3e8ed;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
  button.add {
    margin-top: 1rem;

  }
 }

::ng-deep mat-icon.bigger-icon {
  line-height: 48px !important; //overwrite default library style
  font-size: 48px;
}
